global
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend frontend
  bind :80
  acl PATH_backend1 path_beg -i /backend1
  acl PATH_backend2 path_beg -i /backend2

  use_backend backend1 if PATH_backend1
  use_backend backend2 if PATH_backend2

backend backend1
  server backend1 host.docker.internal:2000 check
backend backend2
  server backend2 host.docker.internal:3000 check
